.image {
   height: auto;
   width: 100%;
  //  background-color: var(--black);
   border-radius: var(--item-border-radius);
   // mix-blend-mode: luminosity;
   // filter: grayscale(1);

  
   // border: 1px solid black;
   // border-radius: 32px;



   // width: 100%;
   // height: 100%;

   // max-width: 180px;
   // max-height: 180px;
   // object-fit: cover;


}