@use './eng/eng-index.css';
@use './rus/rus-index.css';
@use './porsche/index.css';
/* @import url('./rus/index.css'); */

html.ru {
  font-family: 'Segoe UI', sans-serif;
}

html.en {
  font-family: 'Satoshi', sans-serif;
}

body {
  font-family: inherit;
}
