.section {
  height: 100dvh;

  @media (max-width: 767px) {
    height: auto;
    min-height: 100dvh;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.wrapper {
  background-color: transparent;
}
.image {
  background-color: transparent;
}