.section {
   padding-top: 150px;
   padding-bottom: 150px;

   .wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
      gap: var(--gap-between-heading-content);

      .heading {}

      .content {}
   }
}