@import url('../assets/fonts/fonts.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:target,
a:focus-visible,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style: none;
}
