:root {
   // wrapper
   --wrapper-width: 1920px;
   --wrapper-max-width: calc(var(--wrapper-width) + var(--wrapper-horizontal-padding) * 2);
   --wrapper-horizontal-padding: 0px;

   // sizes 
   --header-height: 198px;
   --footer-height: 564px;

   // gaps
   // --layout-gap: 20px;
   // --between-blocks-gap: 50px;
   // --between-blocks-gap-nn: 40px;
   --gap-between-heading-content: 85px;
   --gap-between-section-items: 60px;
   --gap-between-items: 30px;
   // --between-items-gap: 20px;
   // --page-padding-top: 24px;

   @media (max-width: 2199px) {
      --wrapper-width: 1660px;
   }

   @media (max-width: 1919px) {
      --footer-height: 528px;
      --wrapper-width: 1340px;
      --gap-between-section-items: 50px;
   }

   @media (max-width: 1439px) {
      --footer-height: 494px;
      --wrapper-width: 1240px;
      --gap-between-heading-content: 55px;
   }

   @media (max-width: 1279px) {
      --footer-height: 446px;
      --wrapper-horizontal-padding: 40px;
      --gap-between-section-items: 40px;
   }

   @media (max-width: 1023px) {
      --footer-height: 394px;
      --wrapper-horizontal-padding: 30px;
   }

   @media (max-width: 767px) {
      --footer-height: 314px;
      --wrapper-horizontal-padding: 23px;
      --gap-between-heading-content: 45px;
      --gap-between-section-items: 30px;
   }

   @media (max-width: 575px) {
      --footer-height: 258px;
      --wrapper-horizontal-padding: 18px;
   }

   @media (max-width: 479px) {
      --footer-height: 228px;
      --wrapper-horizontal-padding: 12px;
   }

   @media (max-width: 429px) and (min-width: 390px) {
      --wrapper-horizontal-padding: 8px;
   }

   @media (max-width: 389px) {
      --footer-height: 214px;
   }
}

html,
body {
   margin: 0;
   padding: 0;
   min-width: 320px;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   scroll-behavior: smooth;
   overflow-x: clip;
}

main {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
}

header,
footer {
   flex: 0 0 auto;
}

.content-wrapper {
   margin: 0 auto;
   width: 100%;
   max-width: var(--wrapper-max-width);
   padding-left: var(--wrapper-horizontal-padding);
   padding-right: var(--wrapper-horizontal-padding);

   &.slider-wrapper {
      padding-left: unset !important;
      padding-right: unset !important;

      .swiper-wrapper {
         padding: 0 var(--wrapper-horizontal-padding);

         .swiper-slide:last-child {
            margin-right: calc(var(--wrapper-horizontal-padding) * 2);
         }
      }
   }

   &.nested {
      margin: unset;
      max-width: unset;
      padding-left: unset;
      padding-right: unset;
   }
}