:root {
   // sizes
   --button-rounded-height: 55px;
   --button-rounded-min-width: 140px;
   --button-rounded-padding-horizontal: 20px;

   // ui
   --border-radius: 90px;
   --border-white: 1px solid var(--white);
   --border-black: 1px solid var(--black);
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   user-select: none;
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.background {
   &-white {
      background-color: var(--white);
   }

   &-black {
      background-color: var(--black);
   }

   &-blue {
      background-color: var(--blue);
   }
}

.marker {
   &-brick {
      padding: 5px 30px;
      border: var(--border-black);
      border-radius: 5px;
   }
}