.wrapper {
  flex: 1;
}

.title {
  margin: auto;
}

.details {
  height: 100dvh;

  .detailsContent {
    flex: 1;
  }
}

.partnersSection {
  padding-top: unset;
  padding-bottom: unset;

  .partners {
    height: 100dvh;
    justify-content: center;
    @media (max-width: 767px) {
      height: auto;
    }
  }
}

.map {
  height: 500px;
}

.languageToggleButton {
  position: fixed;
  bottom: 5%;
  right: 10%;
}

.portfolioHeadingMargin {
  margin-bottom: -150px;
}
