.wrapper {
  flex: 1;
}

.title {
  margin: auto;
}

.details {
  height: 100dvh;

  .detailsContent {
    flex: 1;
  }
}

.partnersSection {
  padding-top: unset;
  padding-bottom: unset;

  .partners {
    height: 100dvh;
    justify-content: center;
    @media (max-width: 767px) {
      height: auto;
    }
  }
}

.map {
  height: 500px;
}

.languageToggleButton {
  position: fixed;
  bottom: 5%;
  right: 10%;
}

.portfolioHeadingMargin {
  margin-bottom: -20dvh;
  @media (max-width: 1023px) {
    --block-heading-height: 71px; // надо вынести переменную за пределы компонента
    margin-bottom: calc(
      0svh - var(--inner-padding, 0) - var(--gap-between-heading-content, 0) - var(
          --block-heading-height,
          0
        )
    );
  }
  @media (max-width: 767px) {
    --block-heading-height: 47px;
  }

  @media (max-width: 479px) {
    --block-heading-height: 36px;
  }
}

// /* Адаптив */
// @media (max-width: 390px) {
//   .portfolioHeadingMargin {
//     margin-bottom: -120px; /* -20% от -150px */
//   }
// }

// @media (min-width: 391px) and (max-width: 479px) {
//   .portfolioHeadingMargin {
//     margin-bottom: -135px; /* -10% от -150px */
//   }
// }

// @media (min-width: 480px) and (max-width: 767px) {
//   .portfolioHeadingMargin {
//     margin-bottom: -5vmin; /* -5% от -150px */
//   }
// }

// @media (min-width: 768px) and (max-width: 1023px) {
//   .portfolioHeadingMargin {
//     margin-bottom: 10vmin; /* 0% (исходное значение) */
//   }
// }

// @media (min-width: 1024px) and (max-width: 1279px) {
//   .portfolioHeadingMargin {
//     margin-bottom: -10vmin; /* 0% (исходное значение) */
//   }
// }
// @media (min-width: 1280px) and (max-width: 1439px) {
//   .portfolioHeadingMargin {
//     margin-bottom: -25%; /* 0% (исходное значение) */
//   }
// }
