.wrapper {
   flex: 1;
}

.title {
   margin: auto;
}

.details {
   height: 100dvh;

   .detailsContent {
      flex: 1;
   }
}

.partnersSection {
   padding-top: unset;
   padding-bottom: unset;

   .partners {
      height: 100dvh;
      justify-content: center;
   }
}