.pixelBackground {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9000;
  pointer-events: none;
  .column {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .block {
      width: 100%;
      height: 5vw;
      background-color: #3B82F6;
    }
  }
}
