.header {
  --padding-vertical: 75px;
  position: fixed;
  z-index: 1000;
  padding: var(--padding-vertical) 0;
  width: 100%;
  transition: transform 1s ease-in-out;
  mix-blend-mode: difference;

  @media (max-width: 1919px) {
    --padding-vertical: 44px;
  }

  @media (max-width: 1279px) {
    --padding-vertical: var(--wrapper-horizontal-padding);
  }

  @media (max-width: 767px) {
    --padding-vertical: calc(var(--wrapper-horizontal-padding) * 2);
  }
}

.header.hidden {
  transform: translateY(-100%);
}

.wrapper {
  .side {
    flex: 1;
  }
}
