.header {
  --padding-vertical: 75px;
  position: fixed;
  z-index: 9999;
  padding-top: var(--padding-vertical);
  width: 100%;
  transition: transform 1s ease-in-out;
  mix-blend-mode: difference;
  margin-top: 20px;

  @media (max-width: 1919px) {
    --padding-vertical: 44px;
  }

  @media (max-width: 1279px) {
    --padding-vertical: var(--wrapper-horizontal-padding);
  }

  @media (max-width: 767px) {
    --padding-vertical: calc(var(--wrapper-horizontal-padding) * 2);
  }

  .burger {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      display: block;
      content: '';
      width: 30px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      position: absolute;
      transition: transform 0.3s;
    }

    &::after {
      transform: translateY(5px);
    }

    &::before {
      transform: translateY(-5px);
    }
  }

  .burgerActive {
    &::after {
      transform: translateY(0) rotate(45deg);
    }

    &::before {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

.header.hidden {
  transform: translateY(-600%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 767px) {
    gap: 8px;
  }

  .side {
    flex: 1;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    @media (max-width: 479px) {
      flex: none;
    }
  }
}
