.header {
   --padding-vertical: 75px;
   position: fixed;
   z-index: 10;
   padding: var(--padding-vertical) 0;
   width: 100%;

   .wrapper {
      .side {
         flex: 1;
      }
   }

   @media (max-width: 1919px) {
      --padding-vertical: 44px;
   }

   @media (max-width: 1279px) {
      --padding-vertical: var(--wrapper-horizontal-padding);
   }

   @media (max-width: 767px) {
      --padding-vertical: calc(var(--wrapper-horizontal-padding) * 2);
   }
}