.card {
   --padding-inside: 50px;
   // --padding-bottom: 50px;
   --padding-bottom: 30px;
   padding: var(--padding-inside) var(--padding-inside) var(--padding-bottom) var(--padding-inside);
   gap: 30px;

   border-radius: calc(30px + var(--padding-inside) * 0.5);
   border: var(--border-black);

   .imageWrapper {
      .image {
         height: 585px;
      }

      .title {
         --margin: 30px;
         position: absolute;
         bottom: var(--margin);
         left: var(--margin);
      }
   }

   .content {
      justify-content: space-between;

      .description {
         max-width: min(720px, 50%);
      }

      .tags {
         gap: 15px;
         max-width: min(640px, 50%);
         flex-wrap: wrap;
         justify-content: flex-end;
      }
   }
}