.wrapper {
  // flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-between-items);
}

.item {
  border: var(--border-black);
  border-radius: var(--item-border-radius);
}

.A {
  position: relative;
  overflow: hidden;
  max-height: 824px;
  flex: 2 1 calc(50% - var(--gap-between-items));
}

.B {
  flex: 1 1 calc(25% - var(--gap-between-items));
  height: 450px;
}

.C {
  flex: 1 1 calc(25% - var(--gap-between-items));
}

.D {
  flex: 1 1 calc(50% - var(--gap-between-items));
}

.E {
  flex: 1 1 calc(25% - var(--gap-between-items));
}

.F {
  flex: 1 1 calc(25% - var(--gap-between-items));
}

.content {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainNumber {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.mainText {
  font-size: 34px;
  font-weight: 500;
}

.bigNumber {
  font-size: 80px;
  font-weight: 700;
  margin: auto;
}

.subText {
  font-size: 24px;
  text-align: center;
}

.mediumNumber {
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0;
}

.mediumText {
  font-size: 24px;
}

.smallNumber {
  font-size: 40px;
  font-weight: 700;
  margin: 15px 0;
}

.smallText {
  font-size: 20px;
}

/* Стили для списка экспертиз */
.expertiseTitle {
  font-size: 28px;
  margin-bottom: 30px;
}

.expertiseList {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.expertiseList li {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Адаптация позиционирования */
.background-black.A .content {
  justify-content: flex-end;
}

.background-blue.B .content {
  justify-content: center;
  align-items: center;
}
