.wrapper {
  --between-items-gap: 30px;
  padding: var(--between-items-gap) 0;
  width: 100%;
  gap: var(--between-items-gap);

  .marquee {
    --item-width: 300px;
    --item-height: calc(var(--item-width) * 0.5);
    --image-max-width: calc(var(--item-width) * 0.7);

    width: 100%;

    &.bottom {
      padding-left: calc(var(--item-width) * 0.5);
    }

    .item {
      margin: 0 calc(var(--between-items-gap) / 2);
      width: var(--item-width);
      height: var(--item-height);

      border: var(--border-black);

      .logo {
        // max-width: var(--image-max-width);
        width: auto;
        height: auto;
        // object-fit: contain;
      }
    }

    @media (max-width: 1279px) {
      --item-width: 220px;
    }

    @media (max-width: 767px) {
      --item-width: 180px;
    }

    @media (max-width: 575px) {
      --item-width: 140px;
    }

    @media (max-width: 479px) {
      --item-width: 124px;
    }
  }

  @media (max-width: 767px) {
    --between-items-gap: 15px;
  }

  @media (max-width: 479px) {
    --between-items-gap: 10px;
  }
}
